html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.home {background-image: url(imagenes/ImagenFondo.jpg); background-attachment: fixed;}
.menu {background-color: transparent; border: 0px;}
.foto {
height: 800px;}
.logros {
height: 250px;}
.carreraPolitica {
height: 300px;}
.vida {
height: 300px;
}
.prensa {
height: 300px;
}
footer {
height: 300px;
}
p{font-family: 'Varela Round', sans-serif;}
.marioTitulo {height: 1200px;
position: relative;
top: 250px;
left: 150px;
font-size: 50px;
font-weight: bolder;
}


.ulMenu { position: absolute;
right: 450px; 
border: 0px;}